# http://editorconfig.org
# 让编辑器读取该配置文件并以此来格式化代码
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
