{
    "extends": ["taro/vue3"],

    "rules": {
        // "no-unused-vars": [
        //     "error", { "varsIgnorePattern": "Taro|wx" }
        // ], // 检查变量是否被使用
        
        "no-unused-vars": 0,

        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"], // 禁止空格和tab的混合缩进

        "no-debugger": 2, //禁止有debugger

        "space-infix-ops": 2, // 要求操作符周围有空格

        "space-before-blocks": 2, // 要求语句块之前有空格

        "indent": ["error", 4], // 缩进

        "import/first": 0, // 消除绝对路径必须要在相对路径前引入的问题

        "semi": ["error", "never"], // 不允许加分号

        "vue/multi-word-component-names": 0,

        "vue/valid-v-for": 0
    }

}